
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 98.5%;
    --foreground: 210 20% 15%;
    --card: 0 0% 100%;
    --card-foreground: 210 20% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 20% 15%;
    --primary: 207 44% 49%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 13% 50%;
    --secondary-foreground: 210 20% 98%;
    --muted: 210 10% 92%;
    --muted-foreground: 210 10% 40%;
    --accent: 207 44% 49%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 207 44% 49%;
    --chart-1: 207 44% 49%;
    --chart-2: 210 13% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 210 20% 10%;
    --foreground: 210 20% 98%;
    --card: 210 20% 12%;
    --card-foreground: 210 20% 98%;
    --popover: 210 20% 12%;
    --popover-foreground: 210 20% 98%;
    --primary: 207 44% 59%;
    --primary-foreground: 210 20% 10%;
    --secondary: 210 13% 40%;
    --secondary-foreground: 210 20% 98%;
    --muted: 210 15% 20%;
    --muted-foreground: 210 10% 70%;
    --accent: 207 44% 59%;
    --accent-foreground: 210 20% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 15% 20%;
    --input: 210 15% 20%;
    --ring: 207 44% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
